<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Symfony2 StackOverflow Edition</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('/bundles/app/css/main.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Symfony2 StackOverflow
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            {% if app.user %}
                                <a href="{{ path('logout') }}">Logout</a>
                            {% else %}
                                <a href="{{ path('login') }}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% block body %} {% endblock %}
                </div>
            </div>
        </div>
    </body>
    <script src="{{ asset('/bundles/app/js/main.js') }}"></script>
</html>