{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain "AppBundle" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Tags</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>
                            {% for tag in post.tags %}
                                {{ tag.name }}|
                            {% endfor %}
                        </td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
