{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="{{ asset('/bundles/app/js/angular-src.js') }}"></script>
{% endblock %}

{% block body %}
    <div ng-app="testApp">
        <div ng-controller="PhoneListCtrl">
            <ul>
                <li ng-repeat="item in phones">
                    <span>{{ '{{item.name}}' }}</span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
