{% extends 'AppBundle::layout.html.twig' %}

{% trans_default_domain "AppBundle" %}

{% form_theme form 'AppBundle:Form:bootstrap3_fields.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ 'app.hello'|trans }}</h1>
        <p>This site is for testing purposes.</p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">
                Learn more
            </a>
        </p>
    </div>
{% endblock %}
